body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
}
nav {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    background-color: rgb(255, 255, 255);
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li {
    margin-left: 20px;
}
nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.image {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    max-width: 1000px;
    margin: auto;
}
.content {
    max-width: 500px;
}
.content h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.content button {
    background-color: #ff4d4d;
    color: white;
    padding: 10px 20px;
    border: none;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
}
.image-container img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}
.iteam{
    background-color: rgb(255, 255, 255);
}
button1{
    display: flex;  justify-content: end
  
}












.hvf {
    width: 800px;
    background: white;
}

h2 {
    color: #333;
}

.work-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 20px 0;
}

.work-item img {
    width: 150px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 20px;
}

.work-content {
    flex: 1;
}

h3 {
    margin: 0;
}

.year {
    background: #007bff;
    color: white;
    padding: 3px 8px;
    border-radius: 5px;
    font-size: 12px;
}

.category {
    font-weight: bold;
    margin-left: 10px;
}

p {
    font-size: 14px;
    color: #000000;
}

footer {
    text-align: center;
    padding: 20px;
    background-color:#ffffff
    margin-top 20px;
    color: black;

}

.social-icons a {
    color: #2b2828;
    font-size: 20px;
    margin: 0 10px;
    text-decoration: none;
}